## Setup

import the corresponding packages in order to clean data.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

read the data

In [3]:
data2=pd.read_csv('/Users/Lixin/Desktop/Dataset2.csv')

In [4]:
data2

                 Source        Date  Hour  Count
0              P2 Phone  2022-01-01     5     31
1      P2’s Apple Watch  2021-12-31    21     20
2      P2’s Apple Watch  2021-12-31    21     16
3      P2’s Apple Watch  2022-01-01     5     29
4      P2’s Apple Watch  2022-01-01     5     13
...                 ...         ...   ...    ...
31633          P2 Phone  2022-09-01    19    498
31634          P2 Phone  2022-09-01    19     26
31635  P2’s Apple Watch  2022-09-01    19    110
31636          P2 Phone  2022-09-01    20     21
31637  P2’s Apple Watch  2022-09-01    20     76

[31638 rows x 4 columns]

make a copy of the data

In [5]:
copy_data=data2

Due to immutability of raw data principle, we should never alter the raw data and always make a copy.

## Data cleaning

Fill the missing values with 0

In [6]:
copy_data['Count'].fillna(0,inplace=True)

Sort the date in a ascending order.

In [7]:
copy_data.sort_values(by=['Date'], inplace=True)

In [8]:
copy_data

                 Source        Date  Hour  Count
29422       P2’s iPhone  2021-10-08    12     41
1      P2’s Apple Watch  2021-12-31    21     20
2      P2’s Apple Watch  2021-12-31    21     16
0              P2 Phone  2022-01-01     5     31
69             P2 Phone  2022-01-01    17    119
...                 ...         ...   ...    ...
31547  P2’s Apple Watch  2022-09-01     8     22
31546  P2’s Apple Watch  2022-09-01     8      2
31545  P2’s Apple Watch  2022-09-01     8     15
31558  P2’s Apple Watch  2022-09-01    11     29
31637  P2’s Apple Watch  2022-09-01    20     76

[31638 rows x 4 columns]

Remove outliers

In [9]:
copy_data=copy_data.iloc[3:]

In [10]:
copy_data

                 Source        Date  Hour  Count
0              P2 Phone  2022-01-01     5     31
69             P2 Phone  2022-01-01    17    119
68             P2 Phone  2022-01-01    17    742
67             P2 Phone  2022-01-01    17    997
66     P2’s Apple Watch  2022-01-01    17    989
...                 ...         ...   ...    ...
31547  P2’s Apple Watch  2022-09-01     8     22
31546  P2’s Apple Watch  2022-09-01     8      2
31545  P2’s Apple Watch  2022-09-01     8     15
31558  P2’s Apple Watch  2022-09-01    11     29
31637  P2’s Apple Watch  2022-09-01    20     76

[31635 rows x 4 columns]

Combine data in the same day

In [11]:
combined_data=copy_data.groupby('Date')['Date','Count'].sum()

<ipython-input-11-e96b25481d7a>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  combined_data=copy_data.groupby('Date')['Date','Count'].sum()

In [12]:
combined_data

            Count
Date
2022-01-01  22332
2022-01-02  23324
2022-01-03   8887
2022-01-04  22684
2022-01-05  19482
...           ...
2022-08-28  17600
2022-08-29  13363
2022-08-30  17756
2022-08-31  19119
2022-09-01  13659

[244 rows x 1 columns]

Hence we finish data cleaning and the new data can be used to do further analyzing.